

.karta {
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hra {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}