.modre{
    color: blue;
}
.cervene{
    color: red;
}
.zelene{
    color: yellowgreen;
}
.radkovani-velke{
    line-height: 200%;
}
p.male{
    line-height: 100%;
    font-size: 50%;
}
